APP_ENV=production
APP_DEBUG=true
APP_KEY=RtHKHl5TO4VW93FeZQxWcql9cTrRsSzv

DB_HOST=localhost
DB_DATABASE=admin_calllog
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
